git+https://github_token:x-oauth-basic@github.com/githaxs/code-check.git@v0.0.2
git+https://github_token:x-oauth-basic@github.com/githaxs/base-task.git@v0.0.8
git+https://github.com/githaxs/task-interfaces.git@v0.0.2
sentry-sdk
